[Unit]
Description=ggoled_app
# Remove if running without DE
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env ggoled_app
Restart=on-failure
RestartSec=3

[Install]
# Swap to "default.target" if running without DE
WantedBy=graphical-session.target
